@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TycomSys - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Soluciones a medida, resultados sin límites.</h1>
                    <h2>TICOMSYS es una empresa nacional formada por profesionales dedicados a la búsqueda de soluciones para la mejor realización de las labores de sus clientes.</h2>
          <div class="d-lg-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">¡Comencemos!</a>

            <!-- ======= Sí quiere agregar un video de youtube ======= -->
            @* <a href="https://www.youtube.com/watch?v=p0OH206z9Wg" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Ver video</span></a> *@
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="~/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Sobre Nosotros</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            TICOMSYS es una empresa nacional formada por profesionales dedicados a la búsqueda de soluciones para la mejor realización de las labores de sus clientes.
                        </p>
                        <p>
                            Nacimos en abril de 1999, dedicándonos en nuestros inicios al soporte, venta y reparación de computadoras y partes.
                        </p>
                        <p>
                            Actualmente contamos con un personal totalmente profesional en el área de manejo de imágenes con más de 10 años de experiencia, y nos orientamos al diseño e implementación de proyectos de Digitalización de Documentos con la Suite de Productos AQuarius y una serie de Equipos certificados por los mismos propietarios del Software.
                        </p>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            A mediados de 2005, orientamos nuestros objetivos a la implementación de redes y asesoría informática a pequeñas y medianas empresas.
                        </p>
                        <p>
                            En el año 2009, TICOMSYS firma un acuerdo de servicios con la compañía DOCUMENT CONTROL SYSTEM en San Juan, Puerto Rico, para la venta y el soporte exclusivo de los productos de la suite AQuarius en todo el territorio nacional y parte de Centro, Caribe y Sur América.
                        </p>
                        <a href="#why-us" class="btn-learn-more">¡Aprender más!</a>
                    </div>
                </div>

            </div>
    </section>

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">

        <div class="content">
          <h3>¿Por qué nosotros?</h3>
          <p>
            En la actualidad, contamos con un equipo altamente profesional en el manejo de imágenes con más de 10 años de experiencia. Nos enfocamos en el diseño e implementación de proyectos de Digitalización de Documentos utilizando la Suite de Productos AQuarius y equipos certificados por los desarrolladores del software.
          </p>
          <p>
            Evolucionamos hacia la orientación de nuestros objetivos, enfocándonos en la implementación de redes y brindando asesoría informática especializada a pequeñas y medianas empresas.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Soporte Tecnológico Integral <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  Nuestra especialidad reside en proporcionar un soporte integral en tecnología. Desde nuestros inicios en 1999, nos hemos destacado por ofrecer soluciones completas para garantizar el rendimiento óptimo de los equipos informáticos de nuestros clientes.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Soluciones Tecnológicas Empresariales <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  A partir de 2005, nos centramos en proporcionar soluciones tecnológicas empresariales. Nos especializamos en la implementación de redes y brindamos asesoría informática especializada para impulsar el crecimiento y la eficiencia de pequeñas y medianas empresas.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Colaboración Estratégica con DOCUMENT CONTROL SYSTEM <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  En 2009, consolidamos una colaboración estratégica con DOCUMENT CONTROL SYSTEM en San Juan, Puerto Rico. Este acuerdo exclusivo nos permite ofrecer servicios de venta y soporte de la suite AQuarius en múltiples regiones, fortaleciendo así nuestra presencia a nivel nacional y en Centro, Caribe y Sur América.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Especialización en Gestión Documental Digital <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  En la actualidad, nuestro equipo altamente experimentado se especializa en la gestión documental digital con más de 10 años de experiencia. Enfocamos nuestros esfuerzos en diseñar e implementar proyectos de digitalización de documentos utilizando la avanzada Suite de Productos AQuarius y equipos certificados por los desarrolladores del software.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
    <!-- ======= Skills Section ======= -->
    <section id="services" class="services">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Lo que ofercemos</h2>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group">
          <li class="list-group-item">Venta y Mantenimiento de la suite de productos AQuarius</li>
          <li class="list-group-item">Proyectos de Digitalización Completa (Outsourcing, Personal, Equipos, Software, Misceláneos, Otros)</li>
          <li class="list-group-item">Entrenamientos</li>
          <li class="list-group-item">Asesorías</li>
          <li class="list-group-item">Soporte Técnico</li>
          <li class="list-group-item">Contratos de Servicios</li>
          <li class="list-group-item">Escáneres de Alto Volumen</li>
          <li class="list-group-item">Creación de CD, DVD, Almacenamiento Óptico y Magnético</li>
          <li class="list-group-item">Migración de Microfilms a Imágenes Digitales</li>
          <li class="list-group-item">Servicios en su Localidad o Fuera de Ella (On-site and off-site service)</li>
          <li class="list-group-item">Técnicos Entrenados Directamente por el Fabricante del Software.</li>
          <li class="list-group-item">Inventario Local de Recursos y Desarrolladores.</li>
          <li class="list-group-item">Estructura Escalada de Ayuda.</li>
          <li class="list-group-item">Ingenieros de Software Certificados por Novell, Microsoft, Oracle, Centura, Entre Otros.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="section-title">
        <h2>Nuestros clientes</h2>

        <p>
           Contamos con una amplia cartera de importantes clientes locales e internacionales, los cuales representan  casos exitosos de  implementación de las herramientas de AQuarius dentro de los cuales podemos citar
        </p>
      </div>

      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/bancocentral.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/banreservas.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/shell.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/cemex.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/claro.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/tricom.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/impuestosinternos.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/paginasamarillas.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/unapec.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/cardnet.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/jcpabogados.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/img/clients/siuben.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nuestro Equipo</h2>
                    <p>TICOMSYS se enorgullece de contar con un equipo altamente capacitado y dedicado, cuya experiencia y compromiso son fundamentales para el éxito de la empresa. Nuestros profesionales, con muchos años de experiencia en el manejo e implementación de proyectos de digitalización e informática general, son la columna vertebral de nuestra organización.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="~/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="~/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="~/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="~/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>¡Contactáctanos!</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Ubicación:</h4>
                <p>Av 27 de Febrero 583, Santo Domingo 10114</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Correo electrónico <button class="btn btn-danger float-end" type="submit"><iconify-icon icon="fluent:mail-12-filled" width="25" height="25"></iconify-icon></button></h4> 
                <p>info@ejemplo.com</p>
              </div>
              
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Teléfono <a class="btn btn-success float-end" target="_blank" href="https://api.whatsapp.com/send?phone=%2B18097563290&data=ARD7M716S7c5gknWGkHqhQoRgmLcAmlHK0D7ryrAr9lPY5iiCh7mFhdgLWRBuxDfstz9w0b8SEpgkMtpCQQsrHnXOmH-AmRNxp06odw-QlZrdJQAJeZRWFssnLwZ-AxD3bIT60mnkNIKptHO_iatTbwbQQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR0KiTRZWC-BP7-JdrTBOeuQbZFJVylWdy09pfvomkV1NLbI8SIqS05gPxg"><iconify-icon icon="ic:baseline-whatsapp" width="25" height="25"></iconify-icon></a></h4> 
                <p>+1 (809) 732-0289</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15138.9560947937!2d-69.9697867!3d18.4501548!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf8a288029d2b9%3A0xbb5ecaef887ecbed!2sTicomsys!5e0!3m2!1ses-419!2sdo!4v1704407455773!5m2!1ses-419!2sdo" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Tú nombre</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Tú correo</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Asunto</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Mensaje</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando...</div>
                <div class="error-message"></div>
                <div class="sent-message">¡Hemos recibido su mensaje, gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>

  <!-- Iconify -->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  <!-- Main JS File -->
  <script src="~/js/main.js"></script>

</body>

</html>